<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

  <!--是否启用缓存-->
  <add key="IsEnableCache" value="true"/>
  <!--是否启用定时器-->
  <add key="IsEnableTimer" value="true"/>
  <add key="OrdinarySmsName" value="true"/>
  <add key="OrdinarySmsPwd" value="true"/>
  <add key="SmsAccount" value="tucyzm"/>
  <add key="SmsPwd" value="HEYgoodyzm0592"/>
  <add key="EmployeeUrl" value="/VX/EmployeeCollect/EvaluateCollect/"/>
  <add key="appID" value="wxcd7341f7dccbcffc"/>
  <add key="appsecret" value="fdf883d9c8293489364521858991fa8a"/>
</appSettings>
