<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 数据库连接字符串 -->
  <add name="SqlConnString" connectionString="Server=3B2MMI58M7CXTPK\SQLEXPRESS;Database=KJ;User ID=sa;Password=hg123456" providerName="System.Data.SqlClient"/>
  <!--<add name="SqlConnString" connectionString="Server=qds166797286.my3w.com;Database=qds166797286_db;User ID=sa;Password=Lin@.123" providerName="System.Data.SqlClient"/>-->
</connectionStrings>